*{
	margin:0;
	padding: 0;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

header {
	width: 100%;
	height: 650px;
	background-image: url(img/Fondo_Caracas.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;
	color:#FFFFFFFF;
	text-align: center;
	clip-path: polygon(0 0, 100% 0, 100% 66%, 0 100%);
}

body {
	z-index: 100;
	width: 100%;
	background-image: url(img/Fondo1.jpg);
	background-attachment: fixed;
	background-size: cover; 
	position: relative;
	color: #FFFFFF;

}

/*flecha para subir*/
.ir-arriba{
	display: inline-none;
	padding: 30px;
	background: rgb();
	color: #E5DBDB;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 20;
	cursor: pointer;
}


.arriba:hover{
	color: rgb(255,255,255) !important;
}
/*fin de flecha para subir*/

.parrafo{
	text-indent: 40px;
}
/*Inicio de la Galería--------------------------------------------------------------------*/

#sliderproduct .carousel-inner {
  overflow: visible;
}

#sliderproduct .col-sm-6.image {
  background: #fff;
  box-shadow: 0px 4px 8px 0px #959595;
  position: relative;
}
.item {
  height: 415px;
}

.col-sm-6.image .item img.img-fluid {
  width: 415px;
}
.col-sm-6.image h1 {
  margin-bottom: 20px;
}


#sliderproduct .top a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  padding: 14px 22px;
  background: #e0794fCC;
  box-sizing: border-box !important;
  text-align: center;
  margin: 0px 2px;
  display: block;
  color: #fff;
  width: 96px;
}

#sliderproduct .col-sm-4.mr-auto {
  margin-top: 22px;
}


#sliderproduct p.cr1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

#sliderproduct .col-sm-6:last-child {
  padding-top: 27px;
  padding-bottom: 27px;
}


#sliderproduct .details .btn {
  text-transform: uppercase;
  font-weight: 400;
  padding: 16px 22px;
  color: #fff;
  border-radius: 81px;
  font-size: 14px;
  display: inline-block;
}

#sliderproduct .details h2 {
  margin: 25px 0px 30px 0px;
  font-size: 24px;
  font-weight: 700;
}

#sliderproduct .details p.cr4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0px;
}
#sliderproduct .carousel-item{
  transition: 0.4s;
}

.bg {
  height: 570px;
  overflow: hidden;
}

#sliderproduct ol.carousel-indicators {
  display: none;
}


/*Fin de la Galería---------------------------------------------------------------------------*/

/*Estilos de las card*/

.card{
	height: 425px;

}

.carda{
	height: auto;
	width: 115%;
	position: relative;
	top: -32%;
	right: 25px;
	margin:auto;
}

.card-body{
	position: relative;
	top: -32%;
}

i:hover {
  background-color:rgba(52,73,94,0.2);
  color:#000000;
  border-radius: 5px;
}

/*boton de las card*/
.botoncito .spans{
	position: absolute;
	display: block;
}

.botoncito .spans:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 5px;
	background: linear-gradient(90deg, transparent, #ffffff);
}

.botoncito:hover .spans:nth-child(1){
	left: 100%;
	transition: 1s;
}

.botoncito .spans:nth-child(2){
	top: -100%;
	right: 0;
	width: 5px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #ffffff);
}

.botoncito:hover .spans:nth-child(2){
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}

.botoncito .spans:nth-child(3){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 5px;
	background: linear-gradient(270deg, transparent, #ffffff);
}

.botoncito:hover .spans:nth-child(3){
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}

.botoncito .spans:nth-child(4){
	bottom: -100%;
	left: 0;
	width: 5px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #ffffff);
}

.botoncito:hover .spans:nth-child(4){
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}

/*Fin de de las card*/

/*Animación de carga*/

#contenedor_carga{
	background-color: rgba(150, 240, 240, 0.6);
	height: 100%;
	width: 100%;
	position: fixed;
	transition:all 1s ease;
	z-index: 10000;
}

#carga{
	border: 15px solid #00AD99FF;
	border-top-color: #3B5664FF;
	border-top-style:groove;
	height: 100px;
	width: 100px;
	border-radius: 100%;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	animation: girar 0.7s infinite;
}

@keyframes girar {
	from { transform: rotate(0deg); }
	to {transform: rotate(360deg);}
}
/*Fin de animación de carga*/
